.landingForms form{
    width: 50%;
    margin: auto;
}
.container{
    margin: auto;
    width: 80%;
}

.container .table{
    width: 100%;
}

.voteContainer{
    text-align: center;
}

.voteContainer  a{
    min-width: 30%;
}

.comment-button{
    text-align: center;
}